@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    &__top {
        background-color: $darkgrey;
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 0;
        }
        &-btn {
            background-color: #e8d8b6;
            text-transform: uppercase;
            color: $darkgrey;
            font-size: 12px;
            font-weight: 500;
            width: 153px;
            height: 38px;
            padding: 12px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__menu {
        &-list {
            &__item {
                display: inline-block;
                padding: 12px 20px;
                a {
                    color: #ffffff;
                    font-weight: 300;
                }

                &:first-child {
                    padding-left: 0;
                }
                & + .header__menu-list__item {
                    border-left: 1px solid #474747;
                }
            }
        }
    }
    &__bottom {
        padding: 15px 0;
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-btn {
            background-color: #c99c47;
            text-transform: uppercase;
            color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            width: 153px;
            height: 38px;
            padding: 12px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__logo {
        margin-right: 43px;
    }
    &__info {
        margin-right: auto;
        &-item {
            display: inline-block;
            a {
                padding: 15px 0 15px 50px;
                text-transform: uppercase;
                color: $darkgrey;
                position: relative;
                &::before {
                    content: "";
                    border: 1px solid #000000;
                    border-radius: 3px;
                    position: absolute;
                    left: 0;
                    top: 6px;
                    width: 36px;
                    height: 36px;
                    background-size: auto;
                    background-repeat: no-repeat;
                }
            }
            & + .header__info-item {
                margin-left: 33px;
            }
        }
        &-events {
            &::before {
                background-image: url(../images/icons/kubok.png);
                background-position: 7px 3px;
            }
        }
        &-contacts {
            &::before {
                background-image: url(../images/icons/flag.png);
                background-position: 7px 5px;
            }
        }
    }
}
.banner {
    min-height: 440px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    &__overlay {
        position: absolute;
        background-color: #000000;
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }
    &__slider {
        position: absolute;
        right: 25%;
        top: 50%;
        transform: translateY(-50%);
        width: 424px;
        &-wrapper {
            overflow: hidden;
        }
        &-inner {
            display: flex;
            transition: all 1s;
        }
        .banner__slider-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            padding: 20px 10px;
        }
        .banner__slider-prev {
            left: -45px;
        }
        .banner__slider-next {
            right: -45px;
        }
    }
    &__info {
        max-width: 424px;
        width: 100%;
        padding: 8px;
        border: 1px solid #ffffff;
        &-inner {
            background-color: rgba(#ecebea, 0.9);
            padding: 16px 20px;
            display: flex;

            &* {
                display: inline-block;
            }
        }
        &-date {
            padding: 27px 11px 25px;
            background-color: #ffffff;
            text-align: center;
            border: 1px solid #cea55b;
            margin-right: 20px;
            font-weight: 900;
            color: #c99c47;
            width: 105px;
            div {
                &:first-child {
                    font-size: 29px;
                    line-height: 20px;
                }
                &:nth-child(2) {
                    font-size: 18px;
                    line-height: 22px;
                }
                &:last-child {
                    font-size: 35px;
                    line-height: 24px;
                }
            }
        }
        &-descr {
            max-width: 223px;
        }
        &-text {
            padding: 10px 0;
            font-weight: 500;
        }
        &-title {
            font-size: 14px;
            line-height: 18px;
            color: #c99c47;
            text-transform: uppercase;
        }
        &-descr {
            font-size: 13px;
            line-height: 18px;
            color: $darkgrey;
        }
        &-link {
            color: #757575;
            font-size: 14px;
            line-height: 18px;
        }
    }
}
.about {
    padding: 50px 0;
    &__text {
        text-align: center;
        font-size: 17px;
        color: $darkgrey;
        line-height: 30px;
        font-weight: 300;
        margin-bottom: 50px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 31px;
    }
    &__icon {
        width: 62px;
        height: 365px;
        fill: #cda355;
        transition: all 0.5s;
    }
    &__item {
        max-width: 360px;
        width: 100%;
        text-align: center;
        &-img {
            width: 170px;
            height: 170px;
            border: 1px solid #cda355;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 26px;
            transition: all 0.5s;
            cursor: pointer;
            &:hover {
                background-color: #cda355;
                border: 1px solid $darkgrey;
                .about__icon {
                    fill: #ffffff;
                    transform: scale(1.1);
                }

            }
        }
        &-title {
            font-size: 17px;
            line-height: 24px;
            color: $darkgrey;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &-text {
            font-size: 15px;
            line-height: 24px;
            color: $darkgrey;
            font-weight: 300;
            margin-bottom: 13px;
        }
        &-btn {
            font-size: 13px;
            line-height: 24px;
            color: #ffffff;
            font-weight: 400;
            text-align: center;
            width: 120px;
            padding: 7px 5px;
            background-color: #d4c198;
            margin-bottom: 15px;
            transition: all 0.5s;
            &:hover{
                background-color: #c99c47;
                color: $darkgrey;
                border-radius: 5px;
            }
        }
        &-bottom__text {
            font-size: 11px;
            line-height: 24px;
            color: #919191;
            font-weight: 400;
        }
    }
    &__buttons-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button {
        font-size: 13px;
        line-height: 24px;
        color: #ffffff;
        font-weight: 400;
        width: 153px;
        padding: 9px 5px;
        margin: 0 8px;
        text-align: center;
        transition: all 0.5s;
    }
    &__register {
        background-color: #c99c47;
        &:hover {
            color: $darkgrey;
        }
    }
    &__subscribe {
        background-color: $darkgrey;
        &:hover {
            color: #c99c47;
        }
    }
}
.reviews {
    padding: 50px 0;
    background-color: rgba(#e8d8b6, 0.3);
    &__title {
        margin-bottom: 35px;
    }
    &__slider {
        position: relative;
        &-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-100%);
            cursor: pointer;
        }
        &-prev {
            left: -50px;
        }
        &-next {
            right: -50px;
        }
        &-wrapper {
            max-width: 1140px;
            width: 100%;
            overflow: hidden;
        }
        &-inner {
            display: flex;
            transition: all 1s;
            & > * {
                display: inline-block;
            }
        }
        &-item {
            display: flex;
            justify-content: space-between;
            & + .reviews__slider-item {
                margin-left: 46px;
            }
            &__img {
                width: 120px;
                height: 120px;
                border: 5px solid #ffffff;
                border-radius: 50%;
                background-size: auto;
                background-position: center;
                background-repeat: no-repeat;
                background-color: #ffffff;
            }
            &__review {
                max-width: 390px;
                background-color: #ffffff;
                padding: 28px;
                margin-left: 0;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 38px;
                    transform: translateX(-100%);
                    border: 22px solid transparent;
                    border-right: 22px solid #ffffff;
                }
            }
            &__name {
                font-size: 17px;
                line-height: 24px;
                color: $darkgrey;
                font-weight: 500;
                margin-bottom: 8px;
            }
            &__date {
                font-size: 9px;
                line-height: 24px;
                color: #ffffff;
                font-weight: 300;
                background-color: #bbbbbd;
                padding: 2px 5px;
                width: 120px;
                text-align: center;
                border-radius: 3px;
                margin-bottom: 8px;
            }
            &__text {
                font-size: 14px;
                line-height: 22px;
                color: $darkgrey;
                font-weight: 300;
            }
        }
    }
}
.video {
    padding: 50px 0;
    &__title {
        margin-bottom: 20px;
    }
    &__box {
        text-align: center;
    }
}

@import "media";
